.step {
  display: flex;

  &::before {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
  }
}

.active {
  color: #0ed3a3;

  &::before {
    content: attr(data-number);
    background-color: #0ed3a3;
  }
}

.awaiting {
  color: #93989a;

  &::before {
    content: attr(data-number);
    background-color: #93989a;
  }
}

.complete {
  color: #000;

  &::before {
    content: url(./check.svg);
    background-color: #000;
  }
}
