.fieldset {
  margin: 0;
  padding: 13px 14px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  border: 1px solid #0000003b;
  border-radius: 4px;

  &.error {
    border-color: #fc174d;

    .legend {
      color: #fc174d;
    }
  }
}

.errorMessage {
  margin: 4px 0 0 0;

  color: #fc174d;
}

.legend {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.01em;

  height: 1em;
  padding: 0 4px;

  color: #313635;
}

.radios {
  display: flex;
  gap: 32px;
}

.addAddress {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.addresses {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4px;
}
