.nft {
  border-radius: 15px;

  position: relative;
  overflow: hidden;
}

.imageWrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.options {
  padding: 8px 0;

  background-color: #fff;
}

.option {
  padding: 8px 16px;

  display: grid;
  grid-template-columns: 3fr 1fr;

  .input > div {
    padding: 3px 8px;
  }
}

.deleteButton {
  position: absolute;
  top: 16px;
  right: 14px;
}
