.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 18px 0;
  box-shadow: 0px -1px 1px 0px #f3f3f3 inset;
}

.container,
.search,
.buttons,
.wallet {
  display: flex;
  align-items: center;
}

.container {
  justify-content: space-between;
  gap: 40px;
}

.buttons {
  gap: 12px;
}

.button {
  --padding: 10px 16px !important;

  > * {
    --padding: 10px 16px !important;
  }
}


.search,
.wallet {
  gap: 24px;
}

.search {
  flex: 1;

  form {
    flex: 1;
  }
}
