.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 18px 0;
  box-shadow: 0px -1px 1px 0px #f3f3f3 inset;
}

.container,
.link {
  display: flex;
  align-items: center;
}

.container {
  justify-content: space-between;
  gap: 24px;
}

.link {
  min-height: 40px;
  padding: 0 18px;
  border-radius: 8px;
  background-color: #00ffc4;

  font-weight: 700;
  line-height: 18px;
  color: #000;

  &:hover {
    opacity: 0.75;
  }
}
