.card {
  display: flex;
  align-items: center;

  svg {
    flex-shrink: 0;
  }

  &.small {
    gap: 10px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.large {
    gap: 15px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.textOverflow {
  .body,
  .heading,
  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.small {
    max-width: 128px;
  }

  &.large {
    max-width: 256px;
  }
}

.heading {
  font-size: 12px;
  line-height: 14px;
}

.text {
  font-weight: 600;
  line-height: 17px;
}

.dark {
  .heading {
    color: rgba(#000, 0.5);
  }

  .text {
    color: #000;
  }
}

.light {
  .heading {
    color: rgba(#fff, 0.7);
  }

  .text {
    color: #fff;
  }

  svg path {
    fill: #fff;
  }
}

.large {
  .text {
    margin-bottom: 2px;

    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
}
