.nft {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;

  border-radius: 12px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.collectionName {
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  color: #93989a;
}

.auction {
  margin-bottom: 24px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: #959da533;
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
