.card {
  max-width: 128px;

  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    flex-shrink: 0;
  }
}

.body,
.heading,
.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading {
  font-size: 12px;
  line-height: 14px;
}

.text {
  font-weight: 600;
  line-height: 17px;
}

.dark {
  .heading {
    color: rgba(#000, 0.5);
  }

  .text {
    color: #000;
  }
}

.light {
  .heading {
    color: rgba(#fff, 0.7);
  }

  .text {
    color: #fff;
  }
}
