.button {
  &:not(.active) {
    --background-color: transparent !important;
    --color: #93989a;

    &:hover {
      --color: rgba(0, 0, 0, 0.75);
    }
  }

  &.active {
    pointer-events: none;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &.square {
    padding: 12px;
  }
}
