.form {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer {
    // hack to make the footer stick to the bottom
    margin: 50px 0 -50px;
  }
}

.header {
  margin-bottom: 24px;
  padding: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #959da533;
  border-radius: 15px;

  .file {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.fileInput {
  display: none;
}

.nfts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.footer {
  padding: 24px 0;

  background-color: #fff;

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .submit {
    display: flex;
    align-items: center;
    gap: 32px;

    &Heading {
      margin-bottom: 4px;

      display: flex;
      align-items: center;
      gap: 6px;

      font-weight: 600;
      font-size: 16px;
      line-height: 110%;
      letter-spacing: 0.16px;
    }

    &Text {
      font-size: 12px;
      line-height: 16px;

      color: rgba(#000, 0.7);
    }
  }
}
