.cover {
  height: 260px;
  margin-bottom: 64px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  text-align: center;

  background-color: #e7e9eb;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 15px;

  .heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-weight: 300;
    line-height: 18px;
  }

  .deleteButton {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }

  // .logoButton {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   transform: translate(48px, 50%);
  //   width: 196px;
  //   height: 196px;
  //   background-color: #e7e9eb;
  //   border: 1px solid #fff;
  //   border-radius: 50%;
  //   transition: background-color 0.25s;

  //   &:hover {
  //     background-color: #dcdee0;
  //   }
  // }

  .fileInput {
    display: none;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  // TODO: remove after @gear-js/vara-ui input z-index fix
  .input {
    > div:first-child {
      z-index: 1;
    }
  }
}
