.list {
  display: flex;
}

.button {
  padding-bottom: 8px;

  font-weight: 600;
  color: #93989a;

  background-color: transparent;

  &.active {
    color: #0ed3a3;

    box-shadow: inset 0px -3px 0px 0px #0ed3a3;

    pointer-events: none;
  }
}

.small {
  gap: 40px;

  .button {
    font-size: 16px;
    line-height: 20px;
  }
}

.large {
  gap: 32px;

  .button {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.01em;
  }
}

.outlined {
  box-shadow: inset 0px -1px 0px 0px #72707d33;
}
