.heading,
.text {
  text-align: center;
}

.heading {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.02em;
}

.text {
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 26px;
  color: #535352;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
