.container {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 48px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .heading,
  .text {
    text-align: center;
  }

  .heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.02em;
  }

  .text {
    font-size: 16px;
    line-height: 26px;
    color: #535352;
  }
}
